{% extends 'base.html.twig' %}

{% block title %}New Email{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('mailer/_form.html.twig') }}

    {# <a href="{{ path('category_index') }}">Volver al listado</a> #}
{% endblock %}
